### Nix ###
.devenv*
devenv.local.nix
.direnv
.pre-commit-config.yaml

### Jetbrains IDEs ###
.idea/

### Documents ###
*.odt
*.docx

### Java ###
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Python ###
__pycache__/
*.py[cod]
